body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    background:linear-gradient( #bc2bf5 ,#28ddf9) ;
    font-family: Arial, sans-serif;
}

#controls {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#controls h3 {
    margin-top: 0;
}

#controls label, #controls input, #controls button {
    margin-right: 15px;
    font-size: 16px;
}

#clearButton {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* Estilo do Quadro de Desenho */
#drawingCanvas {
    border: 2px solid #000;
    background-color: #fff; /* Fundo branco para desenhar */
    cursor: crosshair; /* Muda o cursor para indicar desenho */
}



/*botoes aqui*//*////////////////////////////*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.glow-on-hover {
  padding: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.natalina{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
padding: 1%;
}


/*//////////////////////////////////////////////*/
