

body{
  display: flex;
  flex-direction: column;
   margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  background:linear-gradient( #bc2bf5 ,#28ddf9) ;
}

/*botoes aqui*//*////////////////////////////*/
.glow-on-hover {
  padding: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.natalina{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
padding: 1%;
}

/*class cartas (pai)*/
.cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    gap: 180px;
}



/*aqui e o print/////////////////////*/
.container-imagem {
  
   
    display: flex;  /* 1. Ativa o modo flexbox */   
    flex-wrap: wrap;  /* 2. Permite que os itens quebrem para a próxima linha */
    justify-content: center;  /* 3. Opcional: Centraliza o grupo de imagens na página */
    gap: 10px;  /* Opcional: Adiciona um pequeno espaço entre as linhas */
    width: 100%; /* Define a largura base de cada imagem.30% garante que caibam 3 e sobra espaço para o gap. */
    min-width: 200px;  /* Opcional: Garante que as imagens não se estiquem */
    object-fit: cover; /* Opcional: Mantém a proporção da imagem ao cobrir a área */
    height: 200px;  /* Opcional: Altura fixa para manter as linhas alinhadas */
    
}

/*aqui mexe nas impreçoes das imagens*/
.container-imagem img {
    display: flex;
    width: 30%;
    height: 210%;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
}
