
*{
  margin: 0;
  padding: 0px;/*muda a expesura da neve*/
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif ;
  
}

/*aqui mexe no body*/
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:linear-gradient( #bc2bf5 ,#28ddf9) ;
}

/*aqui mexe na class:container*/
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow:hidden ;
}

.container::before{
  content: '';
  position:absolute ;
  bottom: 0;
  background: url(tree.png);
  width: 100%;
  height: 200px;
}

/*aqui mexe na lua */
.container .circle{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px; 
  height: 350px;
  background: #fff;
  border-radius: 50%;
}

/*aqui mexe no treno*/
.container .circle::before{
  content:'';
  position: absolute;
  inset: -220px;
  background: url(santa.png);
  background-size: 680px;
  background-position: center;
  background-repeat: no-repeat;
  animation:flutuar 5s ease-in-out infinite;
}

/*parte da animação do treno*/

@keyframes flutuar{
  0%, 100%{
      transform: translateY(-25px);
  }
  50%{
      transform: translateY(25px);
  }
}

/*parte da escrita fleiz natal*/
.container .circle::after{
  content:" Feliz Natal";
  position: absolute;
  inset: -100px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  
}

/*aqui faze a parte da neve*/
.container .neve{
  display: flex;

}
 /*cor da neve e tamanhos*/
.container .neve span{
  
  min-width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: -100px 20px 5px #fff,
  -100px 20px 10px #fff;
  margin: 0 1vw;
  animation:animateNeve calc(75s / var(--i) ) linear infinite ;

}

/*animaçao da neve*/
  
@keyframes animateNeve{
  0%{
    transform: translateY(-10vh);
  }
  100%{
     transform: translateY(100vh);
  }
}

.container .neve span:nth-of-type(even) {
  min-width: 8px ;
  height: 8px;

}






 
/*botoes aqui*//*////////////////////////////*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.glow-on-hover {
  padding: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.natalina{
  display: flex;
  gap: 70px;

}




